.graphArea {
    border: black 1px solid;
    width: 100vh;
    height: 60vh;
    min-height: 600px;
    min-width: 1000px;
}

.instructionsPanel {
    margin:20px;
    padding:5px;
    border:2px solid gray;
    background-color: lightgray;
    width: 500px;
}

.edgeArea {
    pointer-events: none;
    position: absolute;
    left: 0px;
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
    z-index: -1;
}
